@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './root.css';

body{
  font-family: 'Lato', sans-serif!important;
}
a{
  text-decoration: none!important;
}
.bg-color-primary{
  background-color: var(--primary-color)
}
ul{
  padding-inline-start: 0px!important;
  margin-block-start: 0em !important;
  margin-block-end: 0em  !important;
}
p{
  margin: 0!important;
}

.top-head p{
  line-height: 36px;
}

.top-head .telephone{
  margin-right: 30px!important;
}

.top-head ul{
  line-height: 35px;
}
.top-head ul li{
  padding: 0 5px;
}
.top-head ul li a{
  font-size: 20px;
  color: white
}

.top-head ul li a:hover{
  color: var(--social-icon-hover-color)
}

.nav-link{
  font-weight: 800!important;
  color: var(--primary-color)!important;
}
.nav-link.active{
  color: black!important;
}
.nav-link:hover{
  color: black!important;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

/* shopnow button */
.btn-shop-now{
  padding: 16px 25px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 61px;
  text-transform: uppercase;
  transition: all 0.8s;
}
.btn-shop-now:hover{
  background-color: var(--button-hover-color);
  color: white;
}
/* our product section */

.section-heading{
  margin: 30px 0;
  text-align: center;
}
.section-heading h3{
  color: var(--primary-color);
  font-weight: 700;
}

.section-heading p{
  font-size: 13px;
}

.slick-list{
  text-align: center;
}

.view-more{
  background-color: transparent;
    background-image: linear-gradient(240deg, #620303 48%, #110049 66%);
    border-radius: 12px;
    padding: 16px 25px;
    color: white;
  }
  .view-more:hover{
    transform: scale(0.8);
    background-color: transparent;
    background-image: linear-gradient(250deg, #01023A 51%, #700000 56%);
    color: white;
    /* transition: all 0.5s; */
}